<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header h4 t" >
        Choose Category
      </div>
      <div class="card-body clickable Ctgories" *ngFor="let s of categories"
           (click)="setCategory(s.Id, s.Name)" [title]="s.Description" [style.border-color]="s.Color">
        <div *ngIf="Category_Id == s.Id">
          {{s.Name}}
        </div>
        <div *ngIf="!(Category_Id == s.Id)" style="opacity: 0.5">
          {{s.Name}}
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="card-header h4">
      Create Task
    </div>
    <div class="card-body part_transparent">
      <form>
        <div class="form-group mt-6">
          <label for="InputName" class="pl-2 gray small">Name</label>
          <input type="text" class="form-control less_transparent text-black-50" id="InputName" [(ngModel)]="Name"
                 name="inputn">
        </div>
        <div class="form-group mt-4">
          <label for="InputDescription" class="pl-2 gray small">Description</label>
          <input type="text" class="form-control less_transparent text-black-50" [(ngModel)]="Description"
                 id="InputDescription" name="inputd">
        </div>
        <div class="form-group mt-2">
<!--          <ColorPicker Id="task_color" layoutX="151.0" layoutY="246.0">-->
<!--            <input type="color" value="#444444">-->
<!--          </ColorPicker>-->
        </div>
        <div class="form-group mt-4">
          <label for="InputColor" class="pl-2 gray small">Color</label>
          <input type="text" class="form-control less_transparent text-black-50"
                 id="InputColor" name="inputc" [(ngModel)]="Color">
          <input id="color" type="color" value="#000000" [(ngModel)]="Color" name="ColorPicker">

        </div>

        <label for="selectDate"> Select Date</label>
        <p><input type="date" id="selectDate" name="dateSelector" [(ngModel)]="Dategiven" (click)="updateDate()"></p>

        <label for="selectTime">Select the Time</label>
        <p><input type="time" id="selectTime" name="timeSelector" [(ngModel)]="Timewasted" step="1" (click)="updateDate()"></p>

        <div class="text-left">
          <button type="submit" (click)="slapTask(Name, Description,Color)">
            Create this Task!
          </button>
        </div>
      </form>

    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header h3">
        User
      </div>
      <div class="card-body">
        <p>Name: {{g.currName}}</p>
        <p>Mail: {{g.currMail}}</p>
      </div>
    </div>
  </div>
</div>
