
<div id="vloo">
  <div class="todoelem"*ngFor="let s of tasks" [title]="ShowDescr(s)">
    To do: '{{s.name}}'
    <p>best done before: {{s.Deadline.getHours()}}:{{s.Deadline.getMinutes()}}:{{s.Deadline.getSeconds()}}</p>
  </div>
<!--  <button class="btn btn-outline-info ml-1" (click)="GenerateUser()"> New User </button>-->
<!--  <button class="btn btn-outline-info ml-1" (click)="sortUserByID()"> Sort by ID {{sortSign=='v'?'d':'u'}}</button>-->
<!--  <button class="btn btn-outline-info ml-1" (click)="sortUserByName()"> Sort by Name </button>-->
<!--  <button class="btn btn-outline-info ml-1" (click)="pullFromNet()"> Pull </button>-->
<!--  <button class="btn btn-outline-info ml-1" (click)="SortUserByIDdesc()"> Sort by ID desc </button>-->

</div>

