<nav class="navbar navbar-expand-lg navbar-dark trx">
  <a class="navbar-brand" href="#">Nice ToDo's</a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active"  [routerLink]="['/buuu']" >ToDo List
          <span class="sr-only">(contact) </span></a>
      </li>
      <div *ngIf="g.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active"  [routerLink]="['/maketask']" >Add Task
            <span class="sr-only">(contact) </span></a>
        </li>
      </div>
      <div *ngIf="g.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/edituser']">Edit User
            <span class="sr-only">(contact)</span> </a>
        </li>
      </div>
      <div *ngIf="g.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/update-categories']">Update Categories
            <span class="sr-only">(contact)</span> </a>
        </li>
      </div>
      <div *ngIf="g.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/archive']">Archive
            <span class="sr-only">(contact)</span> </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
