<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="card-header h4">
      Hello, {{g.currName}}
    </div>
    <div class="card-body h5">
      <form>
        <div class="form-group mt-4">
          <label for="changeName" class="pl-2 gray small">New Username</label>
          <input type="email" class="form-control less_transparent text-black-50" id="changeName" [(ngModel)]="newName"
                 aria-describedby="nameHelp" name="inputn">
        </div>
        <div class="form-group mt-4">
          <label for="checkPassword" class="pl-2 gray small">Old Password (just in case)</label>
          <input type="password" class="form-control less_transparent text-black-50" [(ngModel)]="passCheck"
                 id="checkPassword" name="inputp">
        </div>
        <div class="form-group mt-4">
          <label for="changePassword" class="pl-2 gray small">New Password (leave blank to change nothing)</label>
          <input type="password" class="form-control less_transparent text-black-50" [(ngModel)]="newPass"
                 id="changePassword" name="inputp">
        </div>
        <div class="card-body">
          <div class="text-left">
            <button class="btn-danger" type="submit"><app-userdelete></app-userdelete></button>
          </div>
          <div class="text-right">
            <button class="btn btn-primary" type="submit" (click)="updateUser()">
              Change Me!
            </button>
          </div>
        </div>
        <div class="text-left">

        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header h3">
        User
      </div>
      <div class="card-body">
        <p>Name: {{this.g.currName}}</p>
        <p>Mail: {{this.g.currMail}}</p>
      </div>
    </div>
  </div>
</div>
