<div class="row">
  <div class="col-md-3">
    <div class="card-header">
      Categories
    </div>
    <div class="card-body" *ngFor="let s of categories">
      {{s.Name}}
    </div>

  </div>
  <div class="col-md-6">
    <div class="card-header h4">
      Task Archive
    </div>
    <div *ngFor="let s of allTheTasks">
      <div class="card" *ngIf="s.State == 5">
        {{s.Name}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header h3">
        User
      </div>
      <div class="card-body">
        <p>Name: {{g.currName}}</p>
        <p>Mail: {{g.currMail}}</p>
      </div>
    </div>
  </div>
</div>
