<td class="clickable" data-toggle="modal" data-target="#editExam">Delete User</td>


<div class="modal text-dark" id="editExam" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You are about to delete User: {{this.g.currName}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group mt-6">
            Type 'YES' to confirm that you want to delete this User
            <label for="InputName" class="pl-2 gray small">Do you want to delete {{this.g.currName}}</label>
            <input type="text" class="form-control less_transparent text-black-50" id="InputName"
                   name="inputn" [(ngModel)]="confirmation">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">
          Abandon Operation
        </button>
        <button type="button" class="btn btn-outline-info" data-dismiss="modal" (click)="deleteUser()">
          Yes, DELETE this User!
        </button>
      </div>
    </div>
  </div>
</div>
