//@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
//*{
//  box-sizing: border-box;
//  font-family: "Poppins", sans-serif;
//}
body{
  background-color: #D9AFD9;
  background-image: linear-gradient(350deg, #D9AFD9 0%, #97D9E1 100%);
  height: 100vh;
  overflow: hidden;
}

/*To cały ten prostokąt*/
.dodawanie{
  width: 30%; /* nie dotykaj */
  border: 1px solid rgb(119, 119, 119);
  padding: 15px;
  color: rgba(0, 0, 0, 0.76);
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 15px;
  position:relative; /* nie dotykaj */
  margin-left: auto; /* nie dotykaj */
  margin-right: auto; /* nie dotykaj */
  top: 50%; /* nie dotykaj */
  -ms-transform: translateY(-50%); /* nie dotykaj */
  transform: translateY(-50%); /* nie dotykaj */
}

/*To tekst na górze strony "Dodaj kategorie" możesz zmienić kolor fonta co chcesz z tym rób*/
.dodawanie h1{
  margin-top: 10px;
  color:rgb(0, 0, 0);
  text-align: center;
}
/*Nie dotykaj ewentualnie margin-top mozesz zmienić (zwiększa/zmiejasza odległość od góry)*/
.dodawanie input{
  display: block;
  margin-top: 15px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}
/*To input do tekstu możesz zmienić kolory etc.*/
.dodawanie #tekst{
  border: 1px solid rgb(150, 150, 150);
  padding: 15px;
  width: 50%;
  text-align: left;
  font-size: large;
  text-color: 'black';
  border-radius: 10px;
}
.dodawanie #tekst1{
  border: 1px solid rgb(150, 150, 150);
  padding: 15px;
  width: 50%;
  text-align: left;
  font-size: large;
  border-radius: 10px;
}
/*Dzięki temu podczas kliknięcia w "Nazwa kategorii nie zmienia ci się outline na czarną grubą linie"*/
.dodawanie input:focus{
  outline: none;
}

/*Środkuje napis "Nazwa kategorii" możesz usunąć jak wolisz żeby było do lewej*/
::-webkit-input-placeholder {
  text-align: center;
}
/*color picker generalnie nie umiem go formatowac jak chcesz to możesz popróbować*/
.dodawanie #color{
  outline: none;
  border: none;
  width: 20%;
  height: 50px;
}

/* Przyciski ogólny wygląd możesz ewentualnie kolorki zmienić */
.przyciski button{
  border: 1px solid rgb(150, 150, 150);
  padding: 2%;
  width: 20%;
  border-radius: 15px;
  text-align: center;
}

/* Przyciski po nakierowaniu na nie (możesz zmienić kolory) */
.przyciski button:hover{
  border: 1px solid rgb(65, 65, 65);
  background-color: grey;
  cursor: pointer; /* nie dotykaj */
}

/* nie dotykaj */

.przyciski #Anuluj{
  float: left;


}
/* nie dotykaj */

.przyciski #Dodaj{
  float: right;
}

/* tego nie dotykać */

#clear{
  clear: both;
}
