<td class="clickable" data-toggle="modal" data-target="#editExam">Create New Category</td>


<div class="modal text-dark" id="editExam" tabindex="-1" role="dialog">
  <div class="dodawanie" role="document">

    <h1>New Category</h1>
    <div>
      <input id="tekst1" placeholder="Category Name" [(ngModel)]="Name" name="inputn">
    </div>
    <div>
      <input id="tekst" placeholder="Description" [(ngModel)]="Description" name="inputd">
    </div>

    <input id="color" type="color" value="#000000" [(ngModel)]="Color" name="inputc">
    <div class="przyciski">
      <button id="Anuluj">Abort</button>
      <button id="Dodaj" (click)="slapCategory(Name,Description,Color)">Create</button>
    </div>
  </div>
</div>
