<div class="row">
  <div class="col-md-3">
    <div class="card" *ngIf="g.isLoggedIn">
      <div class="card-header h3">Categories</div>
        <div class = "card-body clickable Ctgories" [style.border-color]="s.Color"
             *ngFor="let s of categories" [title]="showDescCat(s)" (click)="getTasks(s.Id); cattyId = s.Id">
          <div *ngIf="cattyId == s.Id">
            <div>
              {{s.Name}}
            </div>
          </div>
          <div *ngIf="!(cattyId == s.Id)">
            <div style="opacity: 0.5">
              {{s.Name}}
            </div>
          </div>
          <button class="btn btn-danger"  (click)="deleteCategory(s);getCategories()">X</button>
        </div>
      <div class="card footer text-right">
        <button class="btn btn-primary"><app-makecategory></app-makecategory></button>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card" *ngIf="g.isLoggedIn">
      <div class="card-header bg-dark h4">
        Lista ToDo
      </div>
      <div class="card" *ngFor="let s of tasks" [title]="showDescrTask(s)">
        <div class="card-body Tusks" *ngIf="s.State == 1"  [style.border-left-color]="s.Color">
          To do: '{{s.Name}}'
          <button class="btn btn-light mr-1" (click)="upTask(s.Id)"> up </button>
          <button class="btn btn-light mr-1" (click)="downTask(s.Id)"> down </button>
          <button class="btn btn-light mr-1" (click)="completeTask(s)" >complete</button>
          <button class="btn btn-light" (click)="deleteTask(s)">delete</button>
          <p>best done before: {{s.Deadline | date:'mediumTime'}} </p>
          <p>in day: {{s.Deadline | date: 'shortDate'}}</p>
          <div *ngIf="selectedId != s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(s.Id)">Show</button>
          </div>
          <div class="card-body Tusks" *ngIf="selectedId == s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(-1)">Hide</button>
          </div>
          <div class="card-body ml-1" *ngIf="s.Id == this.selectedId">
            {{s.Description}}
          </div>
        </div>
        <div class="card-body Tusks" *ngIf="s.State == 2"  [style.border-left-color]="s.Color">
          To do: '{{s.Name}}', WATCH OUT, date is nearing completion!
          <button class="btn btn-light" (click)="upTask(s.Id)"> up </button>
          <button class="btn btn-light" (click)="downTask(s.Id)"> down </button>
          <button class="btn btn-light" (click)="completeTask(s)" >complete</button>
          <button class="btn btn-light" (click)="deleteTask(s)">delete</button>
          <p>best done before: {{s.Deadline | date:'mediumTime'}} </p>
          <div *ngIf="selectedId != s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(s.Id)">Show</button>
          </div>
          <div *ngIf="selectedId == s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(-1)">Hide</button>
          </div>
          <div class="card-body ml-1" *ngIf="s.Id == this.selectedId">
            {{s.Description}}
          </div>
        </div>
      </div>
      <div class="card" *ngFor="let s of tasks">
        <div class="card-body Tusks" *ngIf="s.State == 4"  [style.border-left-color]="s.Color" [style]="">
          YOU HAVE FAILED to complete this task: '{{s.Name}}'
          <button class="btn btn-light mr-1" (click)="upTask(s.Id)"> up </button>
          <button class="btn btn-light mr-1" (click)="downTask(s.Id)"> down </button>
          <p>Deadline has expired: {{s.Deadline | date:'mediumTime'}} </p>
          <div *ngIf="selectedId != s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(s.Id)">Show</button>
          </div>
          <div *ngIf="selectedId == s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(-1)">Hide</button>
          </div>
          <div class="card-body ml-1" *ngIf="s.Id == this.selectedId">
            {{s.Description}}
          </div>
        </div>

      </div>
      <div class="card-header bg-dark h4">
        Completed Tasks
      </div>
      <div class="card-body Tusks" *ngFor="let s of tasks" [title]="showDescrTask(s)" >
        <div *ngIf="s.State == 3"  [style.border-left-color]="s.Color">
          You have completed this task: '{{s.Name}}'
          <p>best done before: {{s.Deadline | date:'mediumTime'}} </p>
          <div *ngIf="selectedId != s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(s.Id)">Show</button>
          </div>
          <div *ngIf="selectedId == s.Id">
            <button class="btn btn-info" type="submit" (click)="showTask(-1)">Hide</button>
          </div>
          <div class="card-body ml-1" *ngIf="s.Id == this.selectedId">
            {{s.Description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div *ngIf="g.isLoggedIn; else loginForm">
        <div class="card">
          <div class="card-header h3">
            User
          </div>
          <div class="card-body">
            <p>Name: {{g.currName}}</p>
            <p>Mail: {{g.currMail}}</p>
          </div>

          <button type="submit" class="btn btn-primary" (click)="logout()">
            Log out
          </button>
        </div>
      </div>
      <ng-template #loginForm>
        <form>
          <div class="card">
            <div class="form-group mt-6">
              <label for="exampleInputEmail1" class="pl-2 gray small">E-MAIL</label>
              <input type="email" class="form-control less_transparent text-black-50" id="exampleInputEmail1" [(ngModel)]="email"
                     aria-describedby="emailHelp" name="inpute">
            </div>
            <div class="form-group mt-2">
              <label for="exampleInputPassword1" class="pl-2 gray small">PASSWORD</label>
              <input type="password" class="form-control less_transparent text-black-50" [(ngModel)]="pass"
                     id="exampleInputPassword1" name="inputp">
            </div>
            <div class="card mt-4">
              <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
            </div>
          </div>
        </form>
      </ng-template>
  </div>
</div>
