/* You can add global styles to this file, and also import other style files */


body {
  background: #40E0D0 url('assets/nfr.jpg') no-repeat;
  background-size: 100vw;
}

.trx {
  background-color: rgba(255,255,255,0.1);
}

@very_transparent: rgba(0,0,0,0.1);

@less_transparent: rgba(0,0,0,0.4);


input{
  background-color: @very_transparent;
  color: yellow;
}

.aa {
  color: blue;
}

.card, .card-header, .card-body, .card-footer {
  //add bg-dark to all card classes; todo: replace by bg-dark somehow
  background-color: #343a40;
}

//neh... how do it...
//.ccc {
//  &:extend(.card-header all, .bg-dark all);
//  background-color: #0e4237;
//}


.clickable {
  cursor: pointer;
}


html {
  //font-size: 26px;
}
