<div class="row">
  <div class="col-md-3">
    <div class="card-header h4">
      Select Category to Manage
    </div>
    <div class="card-body h5" >
      <div class="card-body h5" *ngFor="let s of categories" (click)="pickedCat(s)">
        {{s.Name}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-header h5" *ngIf="pickCat">
      Category selected: {{selectCat.Name}}
      <div class="card-body h5">
        <form>
          <div class="form-group mt-6">
            <label for="ChangeName">New Name</label>
            <input type="text" class="form-control less_transparent text-black" [(ngModel)]="selectCat.Name"
                   id="ChangeName" name="changen">
          </div>
          <div class="form-group mt-4">
            <label for="ChangeDesc">New Description</label>
            <input type="text" class="form-control less_transparent text-black" [(ngModel)]="selectCat.Description"
                   id="ChangeDesc" name="changed">
          </div>
          <div class="form-group mt-4">
            <label for="ChangeColor">New Color</label>
            <input type="text" class="form-control less_transparent text-black" [(ngModel)]="selectCat.Color"
                   id="ChangeColor" name="changec">
          </div>
        </form>
        <button class="btn btn-primary" (click)="updateCategories()"> Update!</button>
      </div>
    </div>
    <div class="card-header h4" *ngIf="!pickCat">
      Select a Category
    </div>

  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header h3">
        User
      </div>
      <div class="card-body">
        <p>Name: {{g.currName}}</p>
        <p>Mail: {{g.currMail}}</p>
      </div>
    </div>
  </div>
</div>
